backoff==2.2.1
deepspeed==0.17.5
Flask==3.1.2
flask_cors==6.0.1
huggingface_hub==0.30.2
numpy==2.3.3
openai==1.108.0
pandas==2.3.2
peft==0.17.1
psutil==7.0.0
pydantic==2.11.9
pygraphviz==1.14
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.5
scikit_learn==1.7.2
scipy==1.16.2
sentence_transformers==5.1.0
tenacity==9.1.2
termcolor==3.1.0
torch==2.6.0
tqdm==4.67.1
transformers==4.51.3
